node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
*.log
**/Dockerfile*
**/docker-compose*
.dockerignore
.env
.env.*
.vscode/
.idea/
.DS_Store
Thumbs.db
Desktop.ini
dist/
build/
tmp/
coverage/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln